## ---------- Script -----------------
##
## Script name: bin1_methylation.config
##
## Purpose of script: 
##
## Author: Szi Kay Leung
##
## Email: S.K.Leung@exeter.ac.uk
##
## ---------- Notes -----------------
##
## 
##   
##
##


export ROOT_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693
export WKD_ROOT=${ROOT_DIR}/rTg4510/G_Bin1_Integration
export GENERALFUNC=${ROOT_DIR}/scripts/General

##------------------------- Blast input ---------------------------

export BIN1_BLAST=${WKD_ROOT}/BLAST
mkdir -p ${BIN1_BLAST}
export ONTFASTA=${ROOT_DIR}/rTg4510/F_ONT_Targeted/thesis_dump/TALON/All/Unfiltered/SQANTI3/ONTTargeted_unfiltered_talon_classification.filtered_lite.fasta
export BIN1_PRIMERS=${WKD_ROOT}/bin1_primers.fasta


